button,
button i {
    color: #fff
}

#signin-form {
    width: 240px;
    margin: 200px auto
}

#signin-form span {
    width: 100%;
}

#signin-form span input {
    display: inline-block;
    width: 95%;
    float: right;
    text-align: center;
}

#signin-form h4 {
    text-align: right
}

button {
    padding: 5px 10px;
    background-color: #551A8B
}

button:disabled {
    color: #000;
    opacity: .7
}

button:disabled i {
    color: #000
}
